@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400&display=swap');

body {
  background-color:aliceblue;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

/*Шапка start*/
header {
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
}
  
.logo img {
  max-width: 100%;
  height: 70px;
}
  
/* Search button start */
.search-container {
  margin-right: 50%;
  display: flex;
}
  
.search-container form {
  display: flex;
  width: 100%;
}
  
.search-container input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
  
.search-container button[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}
  
.search-container button[type="submit"]:hover {
  background-color: #555;
}
/* Search button end */ 

nav ul {
  display: flex;
  list-style: none;
}
  
nav li {
  margin-left: 40px;
}
  
nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  outline: 0;
  border-bottom: solid 1px transparent;
  transition: color .5s ease-out, border-bottom-color 1s ease-out;
}
  
nav a:hover {
  color: gray;
  border-bottom: solid 1px red;
}
/*Шапка end*/

/* Services start */
.containerServices {
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px 20px;
}

.containerServices p {
    margin-bottom: 25.5px;
}

.containerServices i {
    color: black;
}

.containerServices a {
    font-size: 25px;
}

/* Typing text start*/
.typing {
    width: 22ch;
    animation: typing 3s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
}
  
@keyframes typing {
    from {
      width: 0
    }
}
    
@keyframes blink {
    50% {
      border-color: transparent
    }
}
/* Typing text end */

.horizontal-line {
  border: none;
  border-top: 3px solid #333;
  margin: 20px 0;
}

/* Blocks start */
.containerBlock {
	max-width: auto;
	margin: 0 auto;
    text-align: center;
	padding: 30px;
}

.plan {
	background-color: #fff;
	border-radius: 30px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 30px;
  padding: 30px;
  text-align: center;
  width: 300px;
}

.plan h2 {
    color: #3F51B5;
    font-size: 24px;
    margin-bottom: 15px;
}

.plan .price {
    color: #000;
    font-size: 20px;
    margin-bottom: 30px;
}

.plan ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.plan ul li {
    margin-bottom: 10px;
}

.plan .btn {
  background-color: #3F51B5;
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  margin-top: 30px;
  padding: 10px 30px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.plan .btn:hover {
    background-color: #2c3e50;
}

.underText {
    text-align: left;
    font-size: 18px;
}
/* Blocks end */
/* Services end */

/*Футер start*/
footer {
  background-color: black;
  /* position: fixed; */
  color: #fff;
  width: 100%;
  height: 12%;
  padding: 50px 0;
  bottom: 0;
}
  
footer h3 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
  
footer p {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}
  
footer ul {
  list-style: none;
  margin: -10px;
  padding: 10px;
}
  
footer ul li {
  margin-bottom: 10px;
}
  
footer ul li i {
  margin-right: 10px;
}
  
footer .container {
  max-width: 1200px;
  margin: 0 auto;
}
  
footer .row {
  display: flex;
  flex-wrap: wrap;
}
  
footer .col-md-6 {
  width: 50%;
  padding: 0 30px;
  box-sizing: border-box;
}
  
footer .col-md-3 {
  width: 25%;
  padding: 0 30px;
  box-sizing: border-box;
}
  
footer .col-md-3:last-child {
  text-align: right;
}
  
footer .col-md-3 a {
   color: red;
  text-decoration: none;
}
  
.social-icons {
  list-style: none;
  margin-left: 0;
  padding: 0;
}
  
.social-icons li {
  display: inline-block;
  margin-right: 10px;
}
  
.social-icons li:last-child {
  margin-right: 0;
}
  
.social-icons i {
  display: inline-block;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
/*Футер end*/